body {
	--color-primary: #009579;
	--color-primary-light: #00a284;
	--color-primary-dark: #008f75;
	--color-primary-darker: #005f55;
	--color-secondary: #532baf;
	--color-error: #cc3333;
	--color-sucess: #395f37;
	--border-radius: 6px;
	margin: 0;
	height: calc(100vh - 3rem - 1.5rem);
	width: 100vw;
	margin-top: 3rem;
	/* margin-bottom: 1rem; */
	font-family: 'Signika Negative', sans-serif;
	background-color: #00a28499;
}

html, body {
	overflow-x:hidden 
}

#root {
	width: 100%;
	height: calc(100% - 1.5rem);
	padding-top: 1.5rem;
}

.App {
	width: 100%;
	height: 100%;
	display: flex;
	margin: auto;
	flex-direction: column;
}

footer {
	text-align: center;
	width: 100%;
	min-width: 213px;
	height: 1.5rem;
	background-color: #878e94;
	color: darkslategray;
	position: fixed; 
	bottom: 0;
	left: 0;
	z-index: 1;
}

.title {
	color: darkslategray;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-left: 10px;
}

h3 {
	margin: 0;
	text-align: center;
}


header>nav {
	position: absolute;
	right: 0;
	height: 100%;
	display: flex;
	align-items: center ;
}


ul {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	flex-direction: row-reverse;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	display: block;
	padding-left: .5rem;
}

.header-profile {
	object-fit: contain;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-top: 4px;
}

.header-profile:hover {
	cursor: pointer;
}

a {
	display: flex;
	text-decoration: none;
	font-style: normal;
	color: darkslategray;
	margin-right: 10px;
	transition: color 0.7s ease;
}

.signup:hover,
.login:hover, 
.title:hover {
	transition: color 0.7s ease;
	color: var(--color-primary);
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 1;
	padding-top: 20vh;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
}

.flex-align-center {
	align-items: center;
}

.flex-justify-center {
	justify-content: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-justify-content-start {
	justify-content: flex-start;
}

/* For Testing chat messages */

.messages {
	text-align: left;
	width: calc(100% - 1.5rem);
	padding: 0.75rem;
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
	overflow-y: scroll;
}

.comments-container {
	background-color: var(--color-primary-light);
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	padding: .25rem;
	margin-top: 2px;
}

.no-comments-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0.75rem;
}

.message {
	word-break: break-word;
	background: #eeeeee;
	width: 100%;
	border-bottom-right-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	padding: 5px;
	margin-left: 5px;
}

.message-container {
	/* bottom: 48px; */
	background-color: var(--color-primary-dark);
	width: 50%;
	height: 300px;
	transition: height 0.4s;
	display: flex;
	flex-direction: column-reverse;
	overflow: hidden;
}

.user-message-username {
	padding: 5px 5px 5px 5px;
	border-radius: var(--border-radius);
	background-color: var(--color-primary-light);
	text-align: center;
}

.user-message-input {
	width: 100%;
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	align-content: flex-start;
	justify-content: flex-start;
	background-color: var(--color-primary-light);
	border-radius: var(--border-radius);
}
.chat-input {
	width: 100%;
	height: 22px;
	margin-left: 2px;
	padding: 5px;
	border-radius: var(--border-radius);
	background: #eeeeee;
	color: black;
	font-family:inherit;
	font-size: inherit;
	outline: none;
	border: none;
}

.messages::-webkit-scrollbar {
	width: 14px;
}

.messages::-webkit-scrollbar-track {
	box-shadow: inset 0 0 14px 14px transparent;
	border: solid 4px transparent;
}

.messages::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
}

.messages::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 14px 14px var(--color-primary-light);
	border: solid 4px transparent;
	border-radius: 14px;
}

.messages::-webkit-scrollbar-button {
	display: none;
} 

.padding1 {
	padding: 1rem;
}

.padding05 {
	padding: .5rem;
}

.pl05 {
	padding-left: .5rem;
}

.pr05 {
	padding-right: .5rem;
}

.pt05 {
	padding-top: .5rem;
}

.pb05 {
	padding-bottom: .5rem;
}

.pb1 {
	padding-bottom: 1rem;
}

.ma {
	margin: auto;
}

.material-icons {
	font-size: 30px;
	cursor: pointer;
	color: darkslategray;
	transition: color 0.7s ease;
}

.material-icons:hover {
	transition: color 0.7s ease;
	color: var(--color-primary);
}