header {
	position: fixed;
	display: flex;
	align-items: center;
	text-align: right;
	width: 100%;
	height: 3rem;
	min-width: 270px;
	background-color: #878e94;
	color: white;
	top: 0;
	left: 0;
	z-index: 55;

}

.header-profile-dropdown-container {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

.header-overflow-visible {
	overflow: visible;
}

.header-profile-dropdown {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	bottom: -218px;
	right: 0px;
	background-color: #878e94;
	z-index: 45;
	min-width: 150px;
	max-width: 300px;
	width: 50vw;
	height: 200px;
	padding: 0.5rem;
	border-radius: var(--border-radius);
	border: 2px solid var(--color-primary-darker);
}

.header-profile-dropdown-profile {
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: calc(100% - 1rem);
	height: 75px;
	border-radius: var(--border-radius);
	background-color: aquamarine;
	transition: background-color 0.2s ease;
}

.header-profile-dropdown-profile:hover {
	cursor: pointer;
	background-color: aqua;
	transition: background-color 0.2s ease;
}

.header-profile-dropdown-profile-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	background-color: #878e94;
	-moz-box-shadow: 0 0 7px #63676b;
	-webkit-box-shadow: 0 0 7px #63676b;
	box-shadow: 0 0 7px #63676b;
	border-radius: var(--border-radius);
	padding: 0.2rem;
}

.header-profile-seperator {
	width: 80%;
	height: 1px;
	background-color: #acaeb1;
	margin-top: 5px;
	margin-bottom: 5px;
}

.header-profile-dropdown-profile-image {
	height: 75px;
	width: 75px;
	border-radius: 100%;
}

.header-font-color {
	color: black;
	font-size: 18px;
}

.header-zindex {
	z-index: 44;
}