.main-login {
	width: 100%;
}

.title-login {
	color: var(--color-primary-darker);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-left: 10px;
	max-width: 400px;
	min-width: 250px;
	margin-bottom: 1.5rem;
}

.popup {
	position: fixed;
	z-index: 1;
	padding-top: 20vh;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

.popup-content {
	background-color: #fefefe;
	width: auto;
	min-width: 340px;
	max-width: 500px;
	padding: 1rem;
	position: absolute;
	top: 42.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
}

.login-form {
	width: calc(100% - 3rem);
	max-width: calc(400px - 3rem);
	min-width: calc(260px - 3rem);
	padding: 1.5rem;
	margin: auto;
	padding-bottom: 0.5rem;
	border-radius: var(--border-radius);
	background-color: #878e94;
	border: 2px solid var(--color-primary-darker);
}

.show-popup{ 
	display: block;
}

.hide-popup{ 
	display: none;
}

.mr {
	margin-right: 5px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media all and (min-width: 480px) {
	.Login {
		padding: 60px 0;
	}

	.Login form {
		margin: 0 auto;
		max-width: 320px;
	}
}