.lock-image-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.lock-reset {
	font-size: 120px;
	color: #005a49;
}

.password_reset_main {
	width: calc(100% - 3rem);
	max-width: calc(400px - 3rem);
	min-width: calc(260px - 3rem);
	padding: 1.5rem;
	margin: auto;
	padding-bottom: 0.5rem;
	border-radius: var(--border-radius);
	background-color: #878e94;
	border: 2px solid var(--color-primary-darker);
}