.profile-view-image {
	border-radius: 50%;

}

.profile-view-font {
	font-size: 20px;
}

.profile-view-font-small {
	font-size: 14px;
}

.pos-relative {
	position: relative;
}

.pos-abs-bottom-middle {
	position: absolute;
	bottom: 5px;
	right: 0;
}

.pos-absolute-top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.profile-image-container {
	position: relative;
	width: 180px;
	height: 180px;
	z-index: 4;
}

.profile-form-container {
	width: 100%;
}

.profile-background {
	position: relative;
	width: calc(100vw - 4rem);
	max-width: 449px;
	background-color: #00b997;
	border-radius: var(--border-radius);
	border: 2px solid var(--color-primary-darker);
	z-index: 0;
}

.profile-interest-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 200px;
	max-height: 200px;
	overflow: auto;
}

.profile_image_left_button {
	width: 100%;
	display: flex;
	justify-content: center;
}

.profile-interest-container::-webkit-scrollbar {
	width: 14px;
}

.profile-interest-container::-webkit-scrollbar-track {
	box-shadow: inset 0 0 14px 14px transparent;
	border: solid 4px transparent;
}

.profile-interest-container::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
}

.profile-interest-container::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 14px 14px var(--color-primary-light);
	border: solid 4px transparent;
	border-radius: 14px;
}

.messages::-webkit-scrollbar-button {
	display: none;
} 

.profile-interest-components {
	padding: 0.25rem;
	font-size: 16px;
}

.profile-upload-profile-image-button {
	padding: 0.75rem 1.5rem;
	font-weight: bold;
	font-size: 1.1rem;
	width: 100%;
	border: none;
	color: #ffffff;
	border-radius: var(--border-radius);
	outline: none;
	cursor: pointer;
	transition: background 0.7s ease;
	background: darkslategray;
}

.profile-upload-submit-profile-image {
	padding: 0.75rem 1.5rem;
	font-weight: bold;
	font-size: 1.1rem;
	width: 50%;
	border: none;
	color: #ffffff;
	border-radius: var(--border-radius);
	outline: none;
	cursor: pointer;
	transition: background 0.7s ease;
	background: darkslategray;
	margin-top: 5px;
}

.profile-upload-submit-profile-image:hover,
.profile-upload-profile-image-button:hover {
	background: var(--color-primary);
	transition: background 0.7s ease;
}

.popup-profile {
	position: fixed;
	display: flex;
	z-index: 5;
	padding-top: 4rem;
	padding-bottom: 2rem;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% - 6rem);
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.popup-content-profile {
	background-color: #81f8e2;
	max-width: 500px;
	padding: 1rem;
	margin: auto;
	text-align: center;
	border-radius: var(--border-radius);
	border: 2px solid var(--color-primary-darker);
}

.popup-content-profile-edit {
	background-color: #81f8e2;
	width: 100%;
	max-width: 500px;
	padding: 1rem;
	margin: auto;
	text-align: center;
	border-radius: var(--border-radius);
	border: 2px solid var(--color-primary-darker);
}

.profile-position-absolute {
	position: absolute;
	top: -5px;
	right: 13px;
	z-index: 3;
}

.profile-position-relative {
	position: relative;
	z-index: 1;
}

.profile-left-container {
	/* max-width: 200px; */
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-radius: var(--border-radius);
	background-color: #05e7c16e;
	border: 1px solid var(--color-primary-darker);
	box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
}

.profile-right-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0px;
	width: 100%;
	height: calc(100% - 0.5rem - 2px);
	background-color: #05e7c16e;
	border-radius: var(--border-radius);
	border: 1px solid var(--color-primary-darker);
	box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
}

.profile-edit-images-button {
	position: absolute;
	z-index: 2;
	top: 0px;
	right: 0px;
	font-size: 30px;
	cursor: pointer;
	color: darkslategray;
	transition: color 0.7s ease;
	-webkit-user-select: none;
	user-select: none;
}

.profile-edit-images-button:hover {
	color: darkslategray;
	transition: color 0.7s ease;
	color: var(--color-primary);
}

#pictureUploads {
	display: none;
}

.profile-popup-title {
	font-size: 26px;
	margin: 0;
	padding-bottom: 1rem;
	color: darkslategray;
	text-decoration: none;
}

.profile-file-btn {
	font-size: 30px;
	position: absolute;
	top: 0;
	right: 0;
	color: darkslategray;
	transition: color 0.7s ease;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.profile-file-btn:hover {
	color: var(--color-primary);
	transition: color 0.7s ease;
}

.profile_image_delete_btn {
	font-size: 30px;
	color: darkslategray;
	transition: color 0.7s ease;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.profile_image_delete_btn:hover {
	color: var(--color-primary);
	transition: color 0.7s ease;
}

.profile_save_btn {
	margin-top: 5px;
	width: 50%;
	transition: color 0.7s ease;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.reactEasyCrop_Container  {
	border-radius: var(--border-radius);
	border: 2px solid var(--color-primary-darker);
}

.profile-selected-images {
	object-fit: contain;
	max-width: 300px;
	border-radius: var(--border-radius);
	border: 2px solid var(--color-primary-darker);
}

.profile-selected-image-container {
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	padding: 1rem;
	max-height: 410px;
	min-height: 100px;
	overflow-y: auto;
	border: 2px solid var(--color-primary-darker);
	border-radius: var(--border-radius);
	background-color: #5eccb8;
}

.profile-selected-image-container::-webkit-scrollbar {
	width: 14px;
}

.profile-selected-image-container::-webkit-scrollbar-track {
	box-shadow: inset 0 0 14px 14px transparent;
	border: solid 4px transparent;
}

.profile-selected-image-container::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
}

.profile-selected-image-container::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 14px 14px var(--color-primary-light);
	border: solid 4px transparent;
	border-radius: 14px;
}

.profile-position-absolute-images-close {
	position: absolute;
	top: -5px;
	right: 3px;
	z-index: 3;
}

.profile-button-disabled {
	font-size: 30px;
	color: gray;
	transition: color 0.7s ease;
}
.profile-button-disabled:hover {
	color: gray;
	cursor: default;
	transition: color 0.7s ease;
}

.profile-button-nofade{
	font-size: 30px;
	color: darkslategray;
	transition: color 0.7s ease;
	cursor: pointer;
}

.profile-button-nofade:hover{
	color: darkslategray;
}

.profile-update-success {
	color: green;
	font-size: 18;
}

.profile-update-error {
	color: red;
	font-size: 18;
}

.profile-biography-container {
	padding-top: 0.5rem;
	width: calc(100% - 2px);
	/* max-width: 411px; */
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #05e7c16e;
	border: 1px solid var(--color-primary-darker);
	border-radius: var(--border-radius);
	box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
}

.profile-biography {
	width: calc(100% - 1rem);
	max-height: 160px;
	padding: 0.5rem;
	text-align: center;
	overflow-x: hidden;
	overflow-y: auto;
}

.profile-biography::-webkit-scrollbar {
	width: 14px;
}

.profile-biography::-webkit-scrollbar-track {
	box-shadow: inset 0 0 14px 14px transparent;
	border: solid 4px transparent;
}

.profile-biography::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
}

.profile-biography::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 14px 14px var(--color-primary-light);
	border: solid 4px transparent;
	border-radius: 14px;
}

/*  TESTS  */

.form-container1 {
	width: 60vw;
	/* min-width: 245px; */
	max-width: 500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	border-radius: var(--border-radius);
}

.form-show-container1 {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: var(--color-primary);
	transition: background 0.7s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-right-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);
	-moz-user-select: none; /* Firefox */
	user-select: none; /* Standard */
	border: 1px solid var(--color-primary-darker);
	border-bottom: 0px;
}

.profile-edit-container {
	width: calc(100% - 1rem);
	background-color: var(--color-primary);
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0.5rem;
	padding-top: 0px;
	border: 1px solid var(--color-primary-darker);
}

.hidden {
    display: none;
}

h4.h4-username, h4.h4-email {
    width: 100%;
    margin-right: 10px;
	-moz-user-select: none; /* Firefox */
	user-select: none; /* Standard */
}

#spanUsername, #spanEmail {
    width: 80%;
}

.profile-edit-components {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	height: 35px;
	line-height: 35px;
	border-radius: var(--border-radius);
	margin-top: 0.5rem;
	background-color: #005f55;
	text-align: left;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	-moz-user-select: none; /* Firefox */
	user-select: none; /* Standard */
	font-weight: bold;
	border: 1px solid #00a284;
}

.profile-component-items {
	background-color: #005f55;
	width: calc(90% - 1rem);
	padding: 0.5rem;
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	border-bottom: 1px solid #00a284;
	border-right: 1px solid #00a284;
	border-left: 1px solid #00a284;
}

.border360{
	border-radius: var(--border-radius);
}

.border-top-left {
	border-top-left-radius: var(--border-radius);
}

.border-top-right {
	border-top-right-radius: var(--border-radius);
}

.profile-inputs {
	display: block;
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	border: 1px solid darkslategray;
	outline: none;
	background: #DDD;
	transition: background 0.7s, border-color 0.7s ease;
}

.profile-inputs:focus {
	border-color: var(--color-primary);
	background: #ffffff;
}

.profile-button {
	width: 100%;
	padding: 0.5rem 1rem;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	color: #ffffff;
	border-radius: var(--border-radius);
	outline: none;
	cursor: pointer;
	transition: background 0.7s ease;
	background: darkslategray;
}

.profile-button:hover {
	transition: background 0.7s ease;
	background: var(--color-primary-dark);
}

.profile-button:active {
	transform: scale(0.98);
}

.profile-pikaday {
	max-width: 272px;
	width: calc(100% - 0.25rem);
	font-size: 20px;
	border-radius: var(--border-radius);
	border: 0px;
}

.profile-hover:hover {
	cursor: pointer;
	background-color: var(--color-primary-light);
	transition: background 0.7s ease;
}

.profile-hover {
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	transition: background 0.7s ease;
}

.profile-gender-label {
	font-size: 1.2rem;
	width: 70px;
	text-align: left;
}

.profile-biography-textarea {
	width: calc(100% - 0.5rem);
	height: 150px;
	resize: none;
}

.profile-biography-textarea::-webkit-scrollbar {
	width: 14px;
}

.profile-biography-textarea::-webkit-scrollbar-track {
	box-shadow: inset 0 0 14px 14px transparent;
	border: solid 4px transparent;
}

.profile-biography-textarea::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
}

.profile-biography-textarea::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 14px 14px var(--color-primary-light);
	border: solid 4px transparent;
	border-radius: 14px;
}

.profile-input-error {
	margin-bottom: 0.5rem;
	font-size: 0.9rem;
	color: var(--color-error);
}

.profile-items-success-msg {
	color: #48f548;
	font-weight: 100;
}

.profile-interest-input {
	max-width: 192px;
	width: calc(100% - 0.5rem);
	height: 25px;
	font-size: 16px;
	text-align: center;
}

.profile-interest-select {
	max-width: 200px;
	width: 100%;
	font-size: 16px;
	text-align: center;
}

.profile-interest-select::-webkit-scrollbar {
	width: 14px;
}

.profile-interest-select::-webkit-scrollbar-track {
	box-shadow: inset 0 0 14px 14px transparent;
	border: solid 4px transparent;
}

.profile-interest-select::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
}

.profile-interest-select::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 14px 14px var(--color-primary-light);
	border: solid 4px transparent;
	border-radius: 14px;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
}

.flex-gap-1rem {
	display: flex;
	gap: 1rem;
}

.profile-top-container {
	display: flex;
	gap: 1rem;
	width: 100%;
}

.profile-images-container img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.profile-image-container img {
	width: 100%;
	object-fit: contain;
}

.profile_connect_btn {
	position: absolute;
	top: 2px;
	right: 10px;
	font-size: 30px;
	cursor: pointer;
	color: gray;
	transition: color 0.3s ease;
	-webkit-user-select: none;
	user-select: none;
}

.profile_disconnect_btn {
	position: absolute;
	top: 2px;
	right: 10px;
	font-size: 30px;
	cursor: pointer;
	color: darkslategray;
	transition: color 0.3s ease;
	-webkit-user-select: none;
	user-select: none;
}

.profile_block_btn {
	position: absolute;
	top: 2px;
	right: 58px;
	font-size: 30px;
	cursor: pointer;
	color: gray;
	transition: color 0.3s ease;
	-webkit-user-select: none;
	user-select: none;
}

.profile_block_btn_no_connect {
	position: absolute;
	top: 2px;
	right: 12px;
	font-size: 30px;
	cursor: pointer;
	color: gray;
	transition: color 0.3s ease;
	-webkit-user-select: none;
	user-select: none;
}

.profile_unblock_btn {
	position: absolute;
	top: 2px;
	right: 58px;
	font-size: 30px;
	cursor: pointer;
	color: darkslategray;
	transition: color 0.3s ease;
	-webkit-user-select: none;
	user-select: none;
}

.profile_unblock_btn_no_connect {
	position: absolute;
	top: 2px;
	right: 12px;
	font-size: 30px;
	cursor: pointer;
	color: darkslategray;
	transition: color 0.3s ease;
	-webkit-user-select: none;
	user-select: none;
}

.profile_report_btn {
	position: absolute;
	top: 2px;
	right: 110px;
	font-size: 30px;
	cursor: pointer;
	color: gray;
	transition: color 0.3s ease;
	-webkit-user-select: none;
	user-select: none;
}

.profile_report_btn_no_connect {
	position: absolute;
	top: 2px;
	right: 58px;
	font-size: 30px;
	cursor: pointer;
	color: gray;
	transition: color 0.3s ease;
	-webkit-user-select: none;
	user-select: none;
}

.profile_unreport_btn {
	position: absolute;
	top: 2px;
	right: 110px;
	font-size: 30px;
	cursor: pointer;
	color: darkslategray;
	transition: color 0.3s ease;
	-webkit-user-select: none;
	user-select: none;
}

.profile_unreport_btn_no_connect {
	position: absolute;
	top: 2px;
	right: 58px;
	font-size: 30px;
	cursor: pointer;
	color: darkslategray;
	transition: color 0.3s ease;
	-webkit-user-select: none;
	user-select: none;
}

.profile_connect_request {
	position: absolute;
	font-size: 30px;
	color: darkslategray;
	-webkit-user-select: none;
	user-select: none;
	top: 0px;
	left: 10px;
}

.profile_connected {
	position: absolute;
	font-size: 30px;
	color: darkslategray;
	-webkit-user-select: none;
	user-select: none;
	top: 0px;
	left: 10px;
}

.profile_online {
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 24px;
	color: lime;
	-webkit-user-select: none;
	user-select: none;
}

.profile_offline {
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 24px;
	color: darkgrey;
	-webkit-user-select: none;
	user-select: none;
}

.profile_loader_component {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -1px;
	left: -1px;
	z-index: 5;
	background-color: rgba(0,0,0,0.4);
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border-radius: 4px;
}

@media screen and (orientation: portrait) and (max-width: 500px){
	.profile-top-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;
	}

	.profile-left-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(100% - 1rem);
	}

	.profile-right-container {
		width: calc(100% - 1rem);
		max-height: 360px;
	}

	.profile-images-container img {
		max-height: 282px;
		object-fit: contain;
	}

	.profile-image-container img {
		width: 100%;
		max-width: 500px;
		object-fit: contain;
	}

	.profile-background{
		min-width: 200px;
	}
}