.profile-view-image {
	border-radius: 50%;
}

.profile-view-font {
	font-size: 20px;
}

.profile-view-font-small {
	font-size: 14px;
}

.pos-relative {
	position: relative;
}

.pos-absolute-top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.profile-image-container {
	width: 200px;
	height: 200px;
}